{% extends 'base.html' %}

{% block title %}Inscreption Page{% endblock title %}

{% block keywords %} {{setting.keywords}} {% endblock %}

{% block description %} {{setting.description}}  {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block slider %} {% include 'slider.html' %} {% endblock %}


{% block body %}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="hidden-xs" >
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Acceueil</a></li>
            <li class="active">Inscreption</li>
        </ul>
    </div>
</div> 
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-8">
                <div class="billing-details">

                    <div class="section-title">
                        <h3 class="title">Sign up Form</h3>
                    </div>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{message.tags}}" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form action="" method="post">
                        {% csrf_token %}

                        
                        <div class="form-group">
                            <input class="input" type="email" name="email" placeholder="Email" maxlength = "100" required >
                        </div>
                        <div class="form-group">
                             <input class="input" type="text" name="username" value="user name" placeholder="user Name" maxlength = "30" required >
                         </div>

                        <div class="form-group">
                          <input class="input" type="text" name="last_name" placeholder="Nom" required maxlength="20" >
                        </div>

                       <div class="form-group">
                        <input class="input" type="text" name="first_name" placeholder="Prénom" required maxlength="20" >
                        </div>


                       <div class="form-group">
                        <input class="input" type="password" name="password1" placeholder="Passwrod" required maxlength="10" >
                        </div>

                       <div class="form-group">
                        <input class="input" type="password" name="password2" placeholder="Password Confirmation" required maxlength="10" >
                        </div>
                        
                        <button class="primary-btn" type="submit"> s’enregistrer </button>
                    </form>
                    <br>
                    <p>Vous avez déjà un compte? <a href="{% url 'profile:login' %}" class="text-primary">Connectez-vous ici</a> </p>
                </div>
            </div>


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->


{% endblock body %}