{% extends 'base.html' %}


{% block title %}Product Detail{% endblock title %}

{% block keywords %} {{product.keywords}} {% endblock %}

{% block description %} {{product.description}}  {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block slider %} {% include 'slider.html' %} {% endblock %}

{% block body %}
<!-- BREADCRUMB -->
<div id="breadcrumb" class="hidden-xs" >
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="/">Accueil</a></li>
        <li><a href="/product/">Product</a></li>
        {% for rs in category_ancestors %}
        <li><a href="/product/{{rs.slug}}/">{{rs.title}}</a></li>
        {% endfor %} 
        <li class="active">{{cat.title}}</li>
      </ul>
    </div>
  </div>
  {% comment %} {{category_ancestors}} {% endcomment %}
  <!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!--  Product Details -->
            <div class="product product-details clearfix">
                <div class="col-md-6">
                    <div id="product-main-view">

                        <div class="product-view">
                            <img src="{{ product.image.url }}" alt="{{rs.title}}" style="height: ">
                        </div>
                        {% for rs in images %}
                            {% if rs.image.url is not null %}
                            <div class="product-view">
                                <img src="{{ rs.image.url }}" alt="{{rs.title}}" style="height: ">
                            </div>
                            {% endif %}
                        {% endfor %}


                    </div>
                    <div id="product-view">
                        <div class="product-view">
                            <img src="{{ product.image.url }}" alt="{{rs.title | truncatechars:30 }}" style="height: ">
                        </div>
                        {% for rs in images %}
                            {% if rs.image.url is not null %}
                            <div class="product-view">
                                <img src="{{ rs.image.url }}" alt="{{rs.title | truncatechars:30 }}" style="height: ">
                            </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-body">
                        <div class="product-label">
                            {% comment %} <span>New</span> {% endcomment %}
                            {% comment %} <span class="sale">-20%</span> {% endcomment %}
                        </div>
                        <h2 class="product-name">{{product.title}}</h2>
                        <h3 id="price" class="product-price">{{product.price}} D.A</h3>
                        <div>
                            <div class="product-rating">
                                {% comment %} <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i> {% endcomment %}
                            </div>
                            {% comment %} <a href="#">3 Review(s) / Add Review</a> {% endcomment %}
                        </div>
                        <p><strong>Availability:</strong> {% if product.ammount < 1 %}En stock{% else %}Rupture de stock{% endif %}</p>
                        <p><strong>Brand:</strong> {{setting.title}}</p>
                        <p>{{product.detail |safe }}</p>
                        {% comment %} <br><br> {% endcomment %}
                        {% comment %} <p>pdf : {{product.fiche}}</p> {% endcomment %}
                        {% comment %} <a href="{% url 'product:dawnload_pdf' product.id %}">Dawnload</a> {% endcomment %}
                        {% if product.fiche %}
                        <h4>Dawnload Fiche Technique:</h4>
                        <a href="{% url 'product:dawnload_pdf' product.id %}" class="main-btn add-to-cart"  ><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Fichier Dawnload</a>
                        <br><br>
                        {% endif %}
                        {% comment %} <div class="product-options">
                            <ul class="size-option">
                                <li><span class="text-uppercase">Size:</span></li>
                                <li class="active"><a href="#">S</a></li>
                                <li><a href="#">XL</a></li>
                                <li><a href="#">SL</a></li>
                            </ul>
                            <ul class="color-option">
                                <li><span class="text-uppercase">Color:</span></li>
                                <li class="active"><a href="#" style="background-color:#475984;"></a></li>
                                <li><a href="#" style="background-color:#8A2454;"></a></li>
                                <li><a href="#" style="background-color:#BF6989;"></a></li>
                                <li><a href="#" style="background-color:#9A54D8;"></a></li>
                            </ul>
                        </div> {% endcomment %}
                        <div class="pull-right">
                            {% load social_share %}
                            <div class="dropdown main-btn icon-btn" >
                                <button class="btn btn-default dropdown-toggle main-btn icon-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-share-alt"></i>
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1" style="padding:10px;">
                                  <li>{% post_to_facebook object_or_url "Post to Facebook!" %}</li>
                                  <li>{% post_to_twitter "{{product.title}}. Check it out!" object_or_url "Post to Twitter" %}</li>
                                  <li>{% post_to_linkedin object_or_url %}</li>
                                  <li>{% send_email object.title "Product: {{product.title}}. Check it out!" object_or_url "Share via email" %}</li>
                                  <li >{% post_to_telegram "Product: {{product.title}}" object_or_url  %}</li>
                                  <li >{% copy_to_clipboard object_or_url "Copy to clipboard!" "share-btn" %} </li>
                                  <li >{% add_copy_script %}</li>
                                  {% comment %} <li><a href="#">Separated link</a></li> {% endcomment %}
                                </ul>
                                
                              </div>

                            <a href="{% url 'order:likeproduct' product.id %}" class="main-btn icon-btn"><i class="fa fa-heart"></i></a>
                            {% comment %} <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button> {% endcomment %}
                            {% comment %} <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button> {% endcomment %}
                            

                        </div>

                        <div class="product-btns">
                            <div class="qty-input">
                                {% comment %} <form action="{% url 'order:addtoshopcart' product.id %}" method="post">
                                    {% csrf_token %}
                                    {% if product.variant != None %}
                                     <h3>En savoir plus sur l'issue de secours :</h3>

                                     <!-- DEMENSIONS -->
                                        {% if demensions  %}
                                        <div class="demension-option" style="margin-top:10px;margin-bottom:10px">
                                            <span class="text-uppercase">Dimension :</span>
                                            <select class="form-control" name="dimension" >
                                                {% for rs in demensions %}
                                                <option value={{rs.demension.id}}>{{rs.demension.code}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                            
                                        {% endif %}
                                        <!-- DEMENSIONS -->

                                        <!-- COLORS -->
                                        {% if colors  %}
                                        <div class="colors-option" style="margin-top:10px;margin-bottom:10px">
                                            <span class="text-uppercase">Colors :</span>
                                            <select class="form-control" name="colors" >
                                                {% for rs in colors %}
                                                <option value={{rs.color.id}} style="background:{{rs.color.code}}; color:white">{{rs.color.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                            
                                        {% endif %}
                                        <!-- COLORS -->

                                        <!-- MATERIELS -->
                                        {% if materiels  %}
                                        <div class="demension-option" style="margin-top:10px;margin-bottom:10px">
                                            <span class="text-uppercase">Dimension :</span>
                                            <select class="form-control" name="materiels" >
                                                {% for rs in materiels %}
                                                <option value={{rs.materiel.id}}>{{rs.materiel.code}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                            
                                        {% endif %}
                                        <!-- MATERIELS -->

                                        <!-- Visual -->
                                        {% if visuels %}
                                        <div class="demension-option" style="margin-top:10px;margin-bottom:10px">
                                            <span class="text-uppercase">visuel :</span>
                                            <select class="form-control" name="materiels" >
                                                {% for rs in visuels %}
                                                <option value={{rs.id}}>{{rs.code}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                            
                                        {% endif %}
                                        <!-- Visuel -->

                                    {% endif %}
                                    <br><br><br>
                                    <span class="text-uppercase">QTY: </span>
                                    <input class="input" name="quantity" type="number" value="1" min="1" > <!-- max="{{ product.amount }}" -->
                                    <button class="primary-btn add-to-cart" type="submit"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                </form>  {% endcomment %}
                                {% include 'product/product_variant_2.html' %}
                                
                            </div>

                            <div class="pull-right">
                                
                                {% comment %} {% load social_share %}
                                <div class="dropdown main-btn icon-btn" >
                                    <button class="btn btn-default dropdown-toggle main-btn icon-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-share-alt"></i>
                                      <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1" style="padding:10px;">
                                      <li>{% post_to_facebook object_or_url "Post to Facebook!" %}</li>
                                      <li>{% post_to_twitter "{{product.title}}. Check it out!" object_or_url "Post to Twitter" %}</li>
                                      <li>{% post_to_linkedin object_or_url %}</li>
                                      <li>{% send_email object.title "New Song: {{product.title}}. Check it out!" object_or_url "Share via email" %}</li>
                                      <li >{% post_to_telegram "New Song: {{product.title}}" object_or_url  %}</li>
                                      <li >{% copy_to_clipboard object_or_url "Copy to clipboard!" "share-btn" %} </li>
                                      <li >{% add_copy_script %}</li>
                                      {% comment %} <li><a href="#">Separated link</a></li> {% endcomment %}
                                    {% comment %} </ul>
                                  </div> {% endcomment %}

                                {% comment %} <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button> {% endcomment %} 
                                {% comment %} <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button> {% endcomment %}
                                {% comment %} <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button> {% endcomment %}
                                

                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} <div class="col-md-12">
                    <div class="product-tab">
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                            <li><a data-toggle="tab" href="#tab1">Details</a></li>
                            <li><a data-toggle="tab" href="#tab2">Reviews (3)</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <p>{{product.detail | safe}}</p>
                            </div>
                            <div id="tab2" class="tab-pane fade in">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="product-reviews">
                                            <div class="single-review">
                                                <div class="review-heading">
                                                    <div><a href="#"><i class="fa fa-user-o"></i> John</a></div>
                                                    <div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
                                                    <div class="review-rating pull-right">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute
                                                        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                                </div>
                                            </div>

                                            <div class="single-review">
                                                <div class="review-heading">
                                                    <div><a href="#"><i class="fa fa-user-o"></i> John</a></div>
                                                    <div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
                                                    <div class="review-rating pull-right">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute
                                                        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                                </div>
                                            </div>

                                            <div class="single-review">
                                                <div class="review-heading">
                                                    <div><a href="#"><i class="fa fa-user-o"></i> John</a></div>
                                                    <div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
                                                    <div class="review-rating pull-right">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                </div>
                                                <div class="review-body"> 
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute
                                                        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                                </div>
                                            </div>

                                            <ul class="reviews-pages">
                                                <li class="active">1</li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="text-uppercase">Write Your Review</h4>
                                        <p>Your email address will not be published.</p>
                                        <form class="review-form">
                                            <div class="form-group">
                                                <input class="input" type="text" placeholder="Your Name" />
                                            </div>
                                            <div class="form-group">
                                                <input class="input" type="email" placeholder="Email Address" />
                                            </div>
                                            <div class="form-group">
                                                <textarea class="input" placeholder="Your review"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-rating">
                                                    <strong class="text-uppercase">Your Rating: </strong>
                                                    <div class="stars">
                                                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                                                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                                                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                                                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                                                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="primary-btn">Submit</button>
                                        </form>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}

            </div>
            <!-- /Product Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Choisie pour vous</h2>
                </div>
            </div>
            <!-- section title -->
            {% for rs in product_similer %}
                <!-- Product Single -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="product product-single">
                        <div class="product-thumb">
                            <a href="/product/{{rs.hash_pk}}/{{rs.slug}}/" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</a>
                            <img src="{{rs.image.url}}" alt="{{rs.title}}" height="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-price">{{rs.price}}D.A </h3>
                            {% comment %} <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                            </div> {% endcomment %}
                            <h2 class="product-name"><a href="/product/{{rs.hash_pk}}/{{rs.slug}}/">{{rs.title | truncatechars:40 }}</a></h2>
                            <div class="product-btns">
                                <a href="{% url 'order:likeproduct' rs.id %}" class="main-btn icon-btn"><i class="fa fa-heart"></i></a>
                                {% comment %} <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button> {% endcomment %}
                                <a href="{% url 'order:addtoshopcart' rs.id %}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Product Single -->
            {% endfor %}

            

            

            
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

{% endblock body %}