<div class="container ">
    {% load static %}
    <div class="row">
        <!-- col 1  -->
        <div class="col-md-3  col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/nav_icon/num1.svg' %}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">N°1 de la signalisation </h5>
                      <p class="card-text" style="color:#868789;"><small class="text-muted">Avec + de 45 000 références</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- end col 1 -->

        <!-- col 2  -->
        <div class="col-md-3  col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/nav_icon/personalisation.svg' %}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Personnalisation et maquettes </h5>
                      <p class="card-text"><small class="text-muted">Gratuites</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- end col 2 -->

        <!-- col 3  -->
        <div class="col-md-3 col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/nav_icon/livraison.svg' %}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Livraison  </h5>
                      <p class="card-text"><small class="text-muted">disponible 54 wilaya</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- end col 3 -->

        <!-- col 4  -->
        <div class="col-md-3  col-sm-6 ">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4 ">
                    <img src="{% static 'images/nav_icon/num1.svg' %}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Garantie 10 ans </h5>
                      <p class="card-text"><small class="text-muted">Sur tous nos panneaux</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- end col 4 -->

        
    </div>
</div>