<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="color: #FABC07">Merci de nous rejoindre sur signaletique-solutions</h2>
    <strong>
    Bonjour {{user_name }}
    </strong>
    <p style="">
        Votre inscription nous montre que vous êtes intéressé par les solutions de signalétique pour votre entreprise. Nous sommes fiers de pouvoir vous proposer une gamme complète de produits et de services qui répondent à tous vos besoins.
    </p>
    </br>
    <p>
        Notre équipe de professionnels est à votre disposition pour vous aider à choisir les solutions de signalétique les plus adaptées à votre activité. Nous vous accompagnerons tout au long de votre projet, de la conception à l'installation.
    </p>
    <br>
    <p>
        Nous vous souhaitons une excellente expérience sur signaletique-solutions.
    </p>
    <br>
    <p>
        A bientôt,
    </p>

    <h3 style="color:#FABC07">
        Call to action:
    </h3>
    <ul>
        <li>Visitez notre site web pour en savoir plus sur nos solutions : <a href={{site}} style="color: #FABC07">signaletique-solutions</a> </li>
        <li>
            Contactez-nous pour obtenir un devis : <span style="font-style:italic">{{ setting.smtpemail }}</span> ou <span>{{ setting.phone }}</span>
        </li>
    </ul>
</body>
</html>