<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Test send mail with django</h3>
    <strong></strong>
    <p style="color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt deleniti optio, omnis assumenda est nesciunt magnam eius dignissimos dolores, nostrum totam incidunt suscipit ratione similique. Minima officia repellendus necessitatibus tenetur natus iusto possimus eveniet quaerat quasi obcaecati facere culpa harum, nesciunt explicabo veritatis quidem quas sint asperiores quisquam? Corrupti molestias sed maiores vero, odit iure quam nobis, blanditiis in est ratione possimus autem aliquid! A accusamus ipsa sed officia commodi. Eius, eveniet maiores expedita nobis commodi laudantium deleniti cumque ratione culpa dolor alias debitis officia illum quas assumenda. Expedita eius ea aperiam repellat itaque officia nemo id minima. Quisquam, voluptas!</p>
    <em>donald programmeur email donaldtedom0@gmail.com</em>
</body>
</html>