<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Réinitialiser le mot de passe</title>
</head>
<body>
    <div class="container">
        {% load static %}
        <img src="{{setting.logo.url}}" width="200px">
        <br> <br>
        <p>{{current_datetime }}</p>
        <br>
        <h1>Réinitialiser le mot de passe</h1>
        <p>Il semble que vous ayez oublié votre mot de passe. Si cela est vrai, cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe.</p>
        <p>Réinitialiser mon mot de passe {{site|safe}}user/{{uidb64}}/{{token}}/</p>
        <p>Si vous n’avez pas oublié votre mot de passe, veuillez ignorer cet e-mail.</p>
    </div>
    
</body>
</html>

<!-- atmaniali1997@gmail.com -->